@media screen and (max-width: 767px){
    .intro{
        height: 100%;
        display: grid;
        text-align: center;
    }

    .msg{
        font-size: 13px;
    }

    .operacoes {
        max-width: unset;
    }

    img {
        max-width: 100%;
    }

    .vlr:focus{
        width: 40%;
    }

    .opcoes{
        position: fixed; 
        left: 0;
        width: 99%;
        padding-left: 0px;
        border-style: solid;
        border-color: turquoise;
    }

    .box{
        height: auto;
        width: auto;
        float: unset;
    }

}

@media screen and (min-height: 768px) and (min-width: 768px) and (max-width: 1024px){
    .intro h1 {font-size: 6vw;}

    .intro p {font-size: 4vw;}

    .intro cite {font-size: 3vw;}

    .btn {
        font-size: 3vw;
        border-width: 6px;
    }

    .intro{
        height: 100%;
        display: grid;
        text-align: center;
    }

    .msg{
        font-size: 13px;
    }

    .operacoes {
        max-width: unset;
    }

    img {
        max-width: 100%;
    }

    .vlr:focus{
        width: 40%;
    }

    .opcoes{
        max-height: 260px;
        position: fixed; 
        left: 14.5%;
        width: 70%;
        font-size: 2.5vw;
        padding-left: 0px;
        border-style: solid;
        border-color: turquoise;
    }

    .box{
        height: auto;
        width: auto;
        float: unset;
    }

    .bodyoper a {font-size: 6vw}

    .bodyoper h2 {font-size: 4vw}

    .bodyoper h3 {font-size: 3vw}
}
