body{font-family: Arial, Helvetica, sans-serif; margin: 0; background-color: #121212;}

a{color: #ffffff; text-decoration: none;}

.main{background-color: #eceaea;}

.intro{margin-top: 135px}

.intro h2{
    font-family: 'Courier New', Courier, monospace;
    color: #002133;
    text-transform: uppercase;
    font-size: 38px;
}

.msg{
    width: 600px;
    margin-left: 68px;
    float: left;
}

.msg p{
    color: #121212;
    font-size: 16px;
}

.btn{
    background-color: #002133;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.operacoes{
    position: absolute;
    top: 340px;
    margin-left: 68px;
}

.opcoes{
    max-height: 250px;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #111111;
    min-width: 300px;
    list-style-type: none;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    border: 1px solid black;
}

::-webkit-scrollbar-thumb{
    background: #00FFED;
    border-radius: 10px;
}

.opcoes a{
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.opcoes a:hover{background-color: #181818}

.operacoes:hover .opcoes{display: block;}

.operacoes:hover .btn{color: #00FFED; border: 3px solid #00FFED;}

/* Operações */

.header{
    background-color: #002133;
    padding: 15px;
    text-align: center;
}

.header a{
    display: inline-block;
    color: #00FFED;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #00FFED;
    padding: 8px 20px;
    transition: 0.5s;
}

.header a:hover{
    color: rgb(218, 218, 218);
    border: 3px solid #dadada;
}

.bodyoper{
    background-image: url('./bg-operacao.jpg');
}

.box{
    height: 510px;
    width: 49.51%;
    float: left;
    color: #FFF;
    text-align: center;
}

.oper h2{
    color: #4CD8CE;
    font-size: 25px;
    text-align: center;
}