@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html {height: 100%;}

body{font-family: Arial, Helvetica, sans-serif; margin: 0; height: 100%;}

a{color: #ffffff; text-decoration: none;}

.main{background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}

.intro{
    height: 100%;
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.intro h1{
    font-family: 'Crete Round', serif;
    color: #002133;
    text-transform: uppercase;
    font-size: 34px;
}

.msg p{
    color: #121212;
    font-size: 16px;
}

.btn{
    background-color: rgba(17, 17, 17, 0);
    font-family: 'Source Sans Pro', sans-serif;
    border: solid 4px #4CD8CE;
    padding: 13px 14px;
    color: #4CD8CE;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: rgba(19, 19, 19);
}

.operacoes{
    margin-top: 30px;
    max-width: 60px;
}

.opcoes{
    max-height: 200px;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #111111;
    min-width: 300px;
    list-style-type: none;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    border: 1px solid black;
}

::-webkit-scrollbar-thumb{
    background: #00FFED;
    border-radius: 10px;
}

.opcoes a{
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.opcoes a:hover{background-color: #181818}

.operacoes:hover .opcoes{display: block;}

.operacoes:hover .btn{background-color: rgb(19, 19, 19)}

/* Operações */

.header{
    padding: 15px;
    text-align: center;
}

.header a{
    font-family: 'Crete Round', serif;
    display: inline-block;
    color: #00FFED;
    font-size: 25px;
    border-bottom: solid 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    overflow: hidden;
    transition: 0.3s;
}

.header a:hover{
    color: rgb(218, 218, 218);
}

.bodyoper{
    background-image: linear-gradient(120deg, rgb(11, 30, 53) 0%, rgb(24, 39, 56) 100%);
}

.box{
    height: 510px;
    width: 49.51%;
    float: left;
    color: #FFF;
    text-align: center;
}

.oper h2{
    color: #4CD8CE;
    font-size: 25px;    
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.vlr{
    margin: 12px 0px;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    background-color: #00000081;
    border: none;
    border-left: 2px solid #dadada;
    width: 20%;
    transition: 0.5s;
}

.vlr:focus{
    width: 30%;
}

